<ion-header>
  <ion-toolbar>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group *ngFor="let group of groupedTransactions">
    <ion-item-divider>
      <ion-label>{{ group.date | date: 'MMMM d, y' }}</ion-label>
    </ion-item-divider>
    <ion-list lines="full" class="ion-no-padding">
      <app-transaction-element
        *ngFor="let transaction of group.transactions"
        [transaction]="transaction"
        (editTransaction)="openModal($event)"
      >
      </app-transaction-element>
    </ion-list>
  </ion-item-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
