<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
  <form #envelopeForm="ngForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-input
              type="text"
              label="Category"
              label-placement="floating"
              [(ngModel)]="envelopeEdit && envelopeEdit.category"
              name="category"
              #category="ngModel"
              required
            ></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="category.invalid && category.touched">
            <ion-label>Must be defined.</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-input
              type="number"
              [label]="envelopeForm.value.type === 'Goal' ? 'Goal' : 'Budget'"
              label-placement="floating"
              [(ngModel)]="envelopeEdit && envelopeEdit.budget"
              name="budget"
              min="1"
              #budget="ngModel"
              required
            ></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="budget.invalid && budget.touched">
            <ion-label>Must be at least a value of 1.</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-select
              label="Type"
              label-placement="floating"
              [ngModel]="envelopeEdit ? envelopeEdit.type : 'Monthly'"
              (ngModelChange)="envelopeEdit && (envelopeEdit.type = $event)"
              name="type"
              required
            >
              <ion-select-option value="Monthly">Monthly</ion-select-option>
              <ion-select-option value="Annual">Annual</ion-select-option>
              <ion-select-option value="Goal">Goal</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!envelopeForm.valid"
          >
            {{ envelopeEdit ? "Edit" : "Add" }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
