<ion-item-sliding>
  <ion-item [routerLink]="['/', 'home', 'tabs', 'envelopes', envelope.id]">
    <ion-label>{{ envelope.category }}</ion-label>
    <div slot="end" class="ion-text-end">
      <ion-note
        *ngIf="envelope.category !== 'Available'"
        color="dark"
        style="display: block; padding-bottom: 5px; margin-top: 5px"
      >
        {{ envelope.type === "Goal" ? "goal:" : "budget:" }}
        {{ envelope.budget | currency }}</ion-note
      >
      <ion-note
        [color]="getAvailableColor(envelope)"
        style="display: block; padding-top: 5px; margin-bottom: 5px"
        >available: {{ envelope.available | currency }}</ion-note
      >
    </div>
  </ion-item>
  <ion-item-options *ngIf="envelope.category != 'Available'">
    <ion-item-option (click)="onEdit(envelope)">Edit</ion-item-option>
    <ion-item-option color="danger" (click)="onDelete(envelope.id)"
      >Delete</ion-item-option
    >
  </ion-item-options>
</ion-item-sliding>
