<ion-header>
  <ion-toolbar>
    <ion-title>Envelopes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="envelopes.length === 0">
    <p class="ion-padding-horizontal">There are no envelopes.</p>
  </div>
  <ion-item-group *ngIf="monthlyEnvelopes.length!==0">
    <ion-item-divider>
      <ion-label> Monthly </ion-label>
    </ion-item-divider>
    <ion-list lines="full" class="ion-no-padding">
      <app-envelope-element
        *ngFor="let envelope of monthlyEnvelopes"
        [envelope]="envelope"
        (editEnvelope)="openModal($event)"
      ></app-envelope-element>
    </ion-list>
  </ion-item-group>
  <ion-item-group *ngIf="annualEnvelopes.length!==0">
    <ion-item-divider>
      <ion-label> Annual </ion-label>
    </ion-item-divider>
    <ion-list lines="full" class="ion-no-padding">
      <app-envelope-element
        *ngFor="let envelope of annualEnvelopes"
        [envelope]="envelope"
        (editEnvelope)="openModal($event)"
      ></app-envelope-element>
    </ion-list>
  </ion-item-group>
  <ion-item-group *ngIf="goalsEnvelopes.length!==0">
    <ion-item-divider>
      <ion-label> Goals </ion-label>
    </ion-item-divider>
    <ion-list lines="full" class="ion-no-padding">
      <app-envelope-element
        *ngFor="let envelope of goalsEnvelopes"
        [envelope]="envelope"
        (editEnvelope)="openModal($event)"
      ></app-envelope-element>
    </ion-list>
  </ion-item-group>
  <ion-item-group *ngIf="availableEnvelopes.length!==0">
    <ion-item-divider>
      <ion-label> Available </ion-label>
    </ion-item-divider>
    <ion-list lines="full" class="ion-no-padding">
      <app-envelope-element
        *ngFor="let envelope of availableEnvelopes"
        [envelope]="envelope"
      ></app-envelope-element>
    </ion-list>
  </ion-item-group>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
